HTTP_PORT=8000
JWT_SECRET=your-secret-key
#DB_CONFIG
DB_HOST=db
DB_PORT=5432
DB_NAME=judgenot0
DB_USER=postgres
DB_PASSWORD=postgres
ENABLE_SSL_MODE=false
# Message Queue
QUEUE_NAME=judge_queue
RABBITMQ_URL=amqp://guest:guest@haproxy:5672/
#Judge
ENGINE_KEY=your-engine-secret
ENGINE_URL=http://localhost:8080